In [ ]:
!service mysql status

mysql: unrecognized service

In [ ]:
!service mysql status

mysql: unrecognized service

# Instalaciones e importaciones

In [7]:
# Instalación de MySQL Connector Python y Pandas
!pip install mysql-connector-python
!pip install pandas

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (8.3.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [8]:
# Importamos Pandas
import mysql.connector
import pandas as pd

Prueba importando desde un csv

In [ ]:
# URL del archivo CSV en GitHub
url = 'https://raw.githubusercontent.com/liazamudio/datasets/main/titanic-dataset.csv'

# Leer el archivo CSV desde la URL
df_titanic = pd.read_csv(url)

# Imprimir las primeras filas del DataFrame para verificar
df_titanic.head()

# Bases de datos

In [9]:
!service mysql status

mysql: unrecognized service

In [6]:
!service mysql start

mysql: unrecognized service

In [3]:
# Conexión a la base de datos de MySQL
cnx = mysql.connector.connect(
   host="localhost",
   port=3306,
   user="root",
   password='2023*DaSci',
   database='titanic-passengers'
)

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (99)